.navbar {
  position: relative;
  width: 100%;
  color: RGB(60,132,142); 
  font-size: 20px;
  top: 0;
  height: 8em;
  background: rgba(246, 242, 83, 1) 50%; 

  &.scrolled{
    background-color: var(--main-color);
  }
}

.navContainer {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navLeft {
  display: flex;
  align-items: center;

  img {
    height: 8em;
    margin-right: 40px;
  }

  span {
    margin-right: 100px;
    cursor: pointer;
  }
}

.navRight {
  display: flex;
  align-items: center;

  .icon {
    margin: 0px 15px;
    cursor: pointer;
  }

  img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
  }

  .profile {
    .options {
      display: none;
      background-color: var(--main-color);
      border-radius: 5px;
    }

    span {
      padding: 10px;
      cursor: pointer;
    }

    &:hover {
      .options {
        display: flex;
        flex-direction: column;
        position: absolute;
      }
    }
  }
}
