.movieItem {
  width: 200px;
  height: 310px;
  background-color: var(--main-color);
  margin: 20px;
  overflow: auto;
  cursor: pointer;
  color: black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 8px 16px, rgba(0, 0, 0, 0.23) 0px 4px 4px;
  overflow: hidden; 
  img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-bottom: 2px solid black;
  }

  &:hover {    
    img {
      height: 130px;
    }

    #itemInfo {
      display: flex;
      flex-direction: column;
      padding: 5px;
      }
      #itemInfoTop {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
        color: gray;
      }

      #desc {
        text-overflow: ellipsis;
        font-size: 13px;
        margin-bottom: 10px;
        max-height: 10ch;
      }

      #genre {
        font-size: 14px;
        color: rgb(98, 98, 98);
      }

      #rating {
        position: relative;
        display: flex;
        justify-content: space-between;
        justify-items: flex-end;
        margin: 5px;
      }

      .rating {
        width: 20px;
        height: 20px;
      }

      #firstTitle {
        display: none; 
      }

      #stars {
        display: none; 
      }
    }

    #bottom {
      font-family: Helvetica, sans-serif; 
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
    #firstTitle {
      font-size: 1em;
    }

    .star {
      margin-top: 2px;
      height: 20px;
      width: 20px;
    }
  }
  }

  