.home {
  background-color: var(--main-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.streamingProvider {
  margin-right: 2em;
}

#top {
  display: flex;
  flex-direction: row;
  margin-top: 1.3em;
  margin-left: 1.5em;
  margin-bottom: 0; 
}
