.footer {
  display: flex;
  margin-top: 50px; 
  height: 5em;
  color: RGB(60,132,142); 
  background: rgb(246, 242, 83) 50%; 
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}