.list {
  position: relative;
  width: 100%;
  max-width: 89%;
  margin-left: 3em;
  // overflow: hidden;
  overflow: scroll; 

  .listTitle {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
  }

  .wrapper {
    position: relative;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }
    .container {
      margin-left: 50px;
      margin-right: 50px;
      display: flex;
      flex-direction: column;
      width: max-content;
      transform: translateX(0px);
      transition: all 1s ease;
    }

    #movie-item-container {
      display: flex;
      flex-direction: row;
    }
  }